body {
    max-width: 500px;
    margin: auto;
}

.content {
    margin: 10px;
}

.content h1 {
    text-align: center;
}

.content p {
    text-align: center;
}

.addPlayerInput {
    display: inline-block;
}

.box {
    display: flex;
    flex-direction: row;
    width: auto;
    border: solid 1px;
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.counter {
    margin-left: auto;
}

.counter-details {
    display: flex;
    gap: 5px;
}

#totalShuttlecock {
    width: 80px;
    justify-content: center;
    text-align: center;
}

#totalShuttlecock::after {
    content: ' Shuttlecock';
    font-size: 0.75em;
    margin-left: 0.1em;
}

.addPlayerInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;
    margin-bottom: 40px;
}

.addPlayerInput .playerName {
    width: auto;
    height: 37.5px;
}

.addPlayerInput button {
    height: 37.5px;
}

.calculate-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;
}

.calculate-details button {
    height: 37.5px;
    background-color: #bee3be;
    font-weight: bold;
}

label {
    background-color: rgb(226, 225, 225);
    margin-bottom: -5px;
    font-size: small;
    text-align: center;
    padding: 5px;
}

.calculate-details input {
    height: 37.5px;
    width: auto;
}

.details .shuttlecock-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2px
}

.details .court-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2px
}

#totalPays::before {
    content: 'Rp. ';
    font-size: 0.75em;
    margin-left: 0.1em;
}

.table-player {
    margin-bottom: 40px;
}

footer {
    text-align: center;
    font-size: smaller;
    color: silver;
}